@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<Shared.MainLayout> L
@inject NavigationManager NavigationManager

<PageTitle>@L["PageTitle_Home"]</PageTitle>
<HeadContent>
    <meta name="description" content="@L["Meta_Description_Home"]" />
</HeadContent>

<div class="d-flex flex-column">
    <NavMenu />     @* компонент с меню (якорные ссылки + переключатель языка) *@
    <main>
        @Body
    </main>
    <footer class="bg-light py-3 text-center">
        <div class="container">
            <small>@L["Footer_Copyright"]</small>
        </div>
    </footer>
</div>
