@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Shared.MainLayout)">
            <p>Извините, страница не найдена.</p>
        </LayoutView>
    </NotFound>
</Router>